.login-input input {
    width: 70vw;
    height: 5.5vh;
    border-radius: 50px;
    background-color: #e4e4e4;
    border: none;
    font-size: 40px;
    font-family: 'Signika', sans-serif;
    text-align: center;
}
.login-input {
    font-size: 40px;
    margin-bottom: 3vh;
    margin-top: 3vh;
}
.button-connect{
    border-radius: 50px;
    width: 40vw;
    height: 5vh;
    border: none;
    background-color: #E31B00;
    color: white;
    font-family: 'Signika', sans-serif;
    font-size: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vh;
}
.connect-logo {
    display: flex;
    justify-content: center;
    height: 20vh;
    margin-top: 15vh;
    margin-bottom: 10vh;
}
.container-register-orange{
    width: 100%;
    height: 100%;
    border: 15px solid #F09F01;
    border-radius: 20px;
}
.register{
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Signika', sans-serif;
}
.arrow{
    margin-left: 2vw;
    
}
.arrow img {
    height: 3vh;
    margin-bottom: 1vh;
}
.contour2{
    background-color: #e4e4e4;
    display: flex;
    flex-direction: column;
    margin-top: -0.2vh;
    min-height: 90vh;
    padding-bottom: 10vh;
}
.menu-visual{
    height: 20vh;
    background-color: #e4e4e4;
}
.menu-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.title-menu{
    font-family: 'Lilita One', cursive;
    text-transform: uppercase;
    padding-top: 1vh;
    padding-bottom: 2vh;
    font-size: 3.5vh;
}
.list-menu{
    background-color: #F7F7F7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    margin-top: 3vh;
    padding-top: 1vh;
    width: 85vw;

}
.list-menu p{
    font-family: 'Lilita One', cursive;
    text-transform: uppercase;
    font-size: 2.5vh;
}
.list-menu-content{
    display: flex;
    flex-direction: column;
}
.list-menu-title{
     display: flex;
     align-items: baseline;
     padding: 1vh;
     margin-bottom: -0.5vh;
}
.list-menu-title img{
    margin: 0 1.5vh 0 1.5vh;
    height: 1.5vh;
    
}
.list-menu-content div {
    font-size: 2.5vh;
    font-family: 'Signika', sans-serif;
    margin: 2vh 2vh 2vh 2vh;
    display: flex;
    align-items: center;
}
.list-menu-content div label {
    margin-left: 2.5vh;
}
.list-menu-content div input {
    width: 2.5vh;
    height: 2.5vh;
    accent-color: #F09F01;
}
.display-style{
    display: none;
}