{% extends 'base.html.twig' %}

{% block title %}Fidélité - McKing{% endblock %}

{% block content %}

<div class="contour2">
    <div class="logo loyalty">
        <img src="" alt="Logo McKing">
    </div>
    <div class="arround-loyalty">
        div.
    </div>
</div>
{% endblock %}

{% block navBar %}

{% endblock %}
